* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #ffffff; /* Branco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px; /* Largura fixa para o formulário */
}

form {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #5ed4f1; /* Verde-água */
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 2px solid #00796b; /* Verde-água */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #004d40; /* Verde-escuro */
    outline: none;
}

button {
    background-color: #00796b; /* Verde-água */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004d40; /* Verde-escuro */
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #00796b; /* Verde-água */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #004d40; /* Verde-escuro */
}
